@import "root.css";

body{
    height: auto;
    display: flex;
    flex-direction: column;
    background: var(--body-color);
}

.navbar {
    width: 100%;
    margin-top: 10px;
    height: 60px;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
    background: var(--body-color);
    /* box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.2); */
}

.logo {
    font-size: 50px;

    margin: auto 20px;
    width: 50px;
}

.logo a {
    text-decoration: none;
    color: var(--primary-color);
}

.links {
    display: flex;
    margin: auto 0;
    margin-right: 30px;
    width: 100%;
    height: auto;

    align-content: flex-end;
    justify-content: right;
}

.link {
    font-weight: 600;
    font-size: 18px;
    margin: 0 20px;
    height: auto;

    transition: var(--tran-03);
}

.text-link {
    font-weight: 600;
    position: relative;
    cursor: pointer;
    transition: var(--tran-02);
}

.text-link:hover {
    color: var(--secondary-color);
    transition:     var(--tran-02);
}

.text-link::before {
    content:'';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 3px;
    width: 0;
    background: #000;
    border-radius: 25px;

    visibility: hidden;
    transition: var(--tran-02);
}

.text-link:hover:before {
    visibility: visible;
    width: 100%;
    background: var(--secondary-color);
}

.text-link-alt {
    background: #000;
    border-radius: 6px;
    color: #fff;
    padding: 7px 10px;
    margin: 4px;
    cursor: pointer;

    transition: var(--tran-02);
}

.text-link-alt:hover {
    padding: 7px 14px;
    margin: 0px;

    transition: var(--tran-02);

    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.3);
}

.a-link {
    text-decoration: none;
    color: #000;
    height: auto;
    padding: 7px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    height: 100%;
}

.dropdown:hover .dropdown-content{
    display: block;
    padding: 7px 0;
    position: absolute;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
}

.input {
    font-size: 16px;
    font-weight: 500;
    border-radius: .5rem;
    /* border: none; */
    margin: auto 5px;
}

.input label {
    font-weight: 500;
  }

.field{
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #999;
}

.field:focus {
    border: 1px solid var(--primary-color);
    background: #f0f4f6;
    outline: none;
}

.divBusca {
    display: flex;
    margin-top: 80px;
    width: 100%;
    height: 55px;
    border-top: 1px solid var(--border-color-light);
    border-bottom: 1px solid var(--border-color-light);
}

button {
    width: auto;
    font-size: 1rem;
    height: 2.5rem;
    background: var(--primary-color);
    color: var(--sidebar-color);
  
    border-radius: .5rem;
    border: none;
  
    padding: 3px 15px;
    margin: auto 10px;
  
    outline: 3px var(--red-button);
    transition: var(--tran-02);
}

button:hover {
    /* box-shadow: inherit 0px 0px 7px 2px rgba(80, 80, 80, 0.3); */
    transition: var(--tran-02);
    background: var(--primary-color-dark);
    cursor: pointer;
}

.buttons {
    display: inline-flex;
    margin: auto 0;
    right: 10px;
}

.buttons .button {
    padding: 7px;
    margin-left: 10px;
    border-radius: 0.25rem;
}

.button-edit {
    background: var(--blue-button);
    color: var(--body-color);
}

.button-delete {
    background: var(--red-button);
    color: var(--body-color);
}

.form {
  width: 100%;
  display: flex;
}

.table-itens{
    width: 100rem;
    height: 47rem;
    
    margin: 30px auto;
    vertical-align: middle;
    overflow-y: auto;
    
    border-radius: .5rem;
    box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 30%);
    /* 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%); */
}

.table {
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    position: sticky;
    top: 0;
}

.table-cell.item {
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

.table .roupa {
    background-color: #FAA8A2;
    color: #7A0A02;
    width: 7rem;
    padding: 6px 2px;
    border-radius: .25rem;
    text-align: center;
}

.table .comida {
    background-color: #FFE278;
    color: #806916;
    width: 7rem;
    padding: 6px 2px;
    border-radius: .25rem;
    text-align: center;
}

.table .remedio {
    background-color: #6DB4FF;
    color: #255D73;
    width: 7rem;
    padding: 6px 2px;
    border-radius: .25rem;
    text-align: center;
}

.table th, td{
    padding: 10px;
    padding-left: 20px;
    width: auto;
}

.table th {
    padding: 15px;
    padding-left: 20px;
}

.table tr:nth-child(even){
    background: #ececec;
}

.table .thead {
    width: 70%;
}

.table .thead th{
    color: #ececec;
    background: #084887;
    position: sticky;
    top: 0; 
    z-index: 1;

    text-align: left;
}

thead th{
    font-weight: 600;
}

.button-sqr {
    width: 40px;
    height: 40px;
    display: flex;
    padding: auto;
    margin: 10px 0;
    margin-left: 10px;
  
    cursor: pointer;
  
    border-radius: 10px;
  
    color: var(--sidebar-color);
    font-size: 24px;
  
    transition: var(--tran-01);
}

.button-sqr:hover {
    transition: var(--tran-01);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.button-add {
    position: fixed;
    bottom: 0;
    right: 0;
  
    margin: 15px;
  
    border-radius: 10px;
    background: #73a942;
  
    color: var(--sidebar-color);
    transition: var(--tran-02);
}

.text-button-add {
    color: var(--sidebar-color);
    display: none;
    opacity: 0;
    white-space: nowrap;
}

.button-add:hover {
    width: 165px;
    transition: var(--tran-02);
    background: #54812a;
}

.button-add:hover .text-button-add {
    opacity: 1;
    display: flex;
    font-size: 16px;
    margin-right: 10px;
    align-items: center;
    overflow: hidden;
}

.uil-plus {
    margin: auto;
}