@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --body-color: #fafafa;
  --background-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #084887;
  --primary-color-background: #90bdf1;
  --primary-color-dark: #031D44;
  --secondary-color: #F58A07;
  --secondary-color-light: #F9AB55;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #495057;
  --red-button: #D61B19;
  --green-button: #73a942;
  --blue-button: #007ea8;
  --border-color: #6C757D;
  --border-color-light: #b4b4b4;

  --normal-font-size: 10px;

  --tran-01: all 0.1s ease-in-out;
  --tran-02: all 0.2s ease-in-out;
  --tran-03: all 0.3s ease-in-out;
  --tran-04: all 0.4s ease-in-out;
  --tran-05: all 0.5s ease-in-out;

  --tran-tran-01: transform 0.1s ease-in-out;
  --tran-tran-02: transform 0.2s ease-in-out;
  --tran-tran-03: transform 0.3s ease-in-out;
  --tran-tran-04: transform 0.4s ease-in-out;
  --tran-tran-05: transform 0.5s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body{
    height: auto;
    display: flex;
    flex-direction: column;
    background: var(--body-color);
}